
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 3px; /* Увеличено расстояние */
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #696969; /* Тёмно-серый для заголовков */
    color: #ffffff; /* Белый текст */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Светло-серый фон для чётных строк */
}

tr:nth-child(odd) {
    background-color: #ffffff; /* Белый фон для нечётных строк */
}

tr:hover {
    background-color: #dcdcdc; /* Серый при наведении */
}

td {
    color: #333333; /* Темно-серый текст для ячеек */
}
